################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Api_aluguel_carros/.vs/Api_aluguel_carros/FileContentIndex/9681648e-282b-483a-9282-937da9164ed0.vsidx
