.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #007bff; /* Ou qualquer cor desejada */
    display: block;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  