<h1 mat-dialog-title>Edit Car</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput [(ngModel)]="data.model" name="model">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput [(ngModel)]="data.year" name="year">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
